/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
   */
  /* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
  
  .swiper {
    width: 80%;
    height: 70vh;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* width: 100;
    height: 100%; */
    object-fit: contain;
  }
  